.header {
    font-family: cursive, Lucida handwriting;
    font-size: 30px;
    text-align: center;
    background-color: white; /* Or any color you want */
    width: 50%; /* Or the width you prefer */
    margin: 10px auto; /* Centers the box */
    padding: 5px; /* Spacing inside the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around the box */
    border-radius: 20px; /* Rounded corners */
    background-image: linear-gradient(to top, rgba(255, 255, 255), rgba(255,0,0,1));
}

.question {
    background-color: white; /* Or any color you want */
    width: 80%; /* Or the width you prefer */
    margin: 20px auto; /* Centers the box */
    padding: 20px; /* Spacing inside the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around the box */
    border-radius: 8px; /* Rounded corners */
}

.question-container {
    background-color: white; /* Or any color you want */
    width: 50%; /* Or the width you prefer */
    margin: 50px auto; /* Centers the box */
    padding: 10px; /* Spacing inside the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around the box */
    border-radius: 8px; /* Rounded corners */
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 3, 3));
}

.submitButton{ 
    text-align: center; 
}

span {
    font-size: 20px;
    font-weight: bold;
}