Form.css.pagebox {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.questionnaire-container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}


.AHC {
    background-color: rgba(255, 255, 255, 0.8);
    width: 30%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.save-menu {
    margin-bottom: 10px;
}