body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    background-color: #EEEFF3;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 40px 40px;
    flex-direction: column;
    margin: 40px 40px 40px 40px;
}

.box a {
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 40px 40px 40px 40px;
}

.box button {
    height: 60px;
    width: 350px;
    background-color: #D71559;
    color: #FFF6FA;
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    margin: 40px 40px 40px 40px;
    border: none;
    cursor: pointer;
}