body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; /* Column direction for a vertical layout */
    align-items: center; /* Center the content horizontally */
}

.header {
    font-family: cursive, Lucida handwriting;
    font-size: 30px;
    text-align: center;
    width: 80%; /* Adjusted width */
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to top, rgba(255, 255, 255), rgba(255,0,0,1));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.questionnaire-container {
    width: 90%; /* Adjust based on your layout */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    position: right;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.questionnaire-list {
    width: 20%;
    border-right: 2px solid #ccc;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in width */
}

.form-display {
    width: 60%; /* Adjusted width to make space for the .AHC div */
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in width */
}

#responseContainer {
    width: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
}

.AHC {
    width: 20%; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    position: left;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.save-menu {
    margin-bottom: 10px; /* Space between the select menu and other content */
}

.submitButton {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #f00;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px; /* Ensure button is separated from other content */
}

span {
    font-size: 20px;
    font-weight: bold;
}
