
.header {
    font-family: cursive, Lucida handwriting;
    font-size: 30px;
    text-align: center;
    background-color: white; /* Or any color you want */
    width: 50%; /* Or the width you prefer */
    margin: 10px auto; /* Centers the box */
    padding: 5px; /* Spacing inside the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around the box */
    border-radius: 20px; /* Rounded corners */
    background-image: linear-gradient(to top, rgba(255, 255, 255), rgba(255,0,0,1));
}

.question {
    background-color: white; /* Or any color you want */
    width: 80%; /* Or the width you prefer */
    margin: 20px auto; /* Centers the box */
    padding: 20px; /* Spacing inside the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around the box */
    border-radius: 8px; /* Rounded corners */
}

.question-container {
    background-color: white; /* Or any color you want */
    width: 50%; /* Or the width you prefer */
    margin: 50px auto; /* Centers the box */
    padding: 10px; /* Spacing inside the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around the box */
    border-radius: 8px; /* Rounded corners */
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 3, 3));
}

body {
    display: flex;
    flex-direction: row;  /* Change direction to row for side-by-side layout */
    min-height: 100vh;
    margin: 0;
}

.submitButton {
    margin-top: auto; /* Pushes the button to the bottom */
    width: 100%; /* Full width button */
    text-align: center;
    padding: 10px 0; /* Adds some vertical padding */
    background-color: #f00; /* Red background for visibility, change as needed */
    color: white; /* Text color for visibility, change as needed */
    border: none; /* Removes border */
    cursor: pointer; /* Hand cursor on hover */
}

/* Ensure content does not overflow the page height */
#formContainer {
    overflow-y: auto; /* Allows scrolling within the form container */
    padding: 20px; /* Adds padding inside the container */
    flex: 1; /* Allows the container to grow and fill available space */
}

span {
    font-size: 20px;
    font-weight: bold;
}



.container {
    display: flex;
    width: 100%;
}

/* Left column for the questionnaire list */
.questionnaire-list {
    width: 30%; /* Adjust the width as necessary */
    border-right: 2px solid #ccc; /* Visual separator */
    padding: 20px;
}

/* Right column for the form display */
.form-display {
    width: 70%; /* Adjust based on the left column */
    padding: 20px;
}

.header, .questionnaire-list, .form-display {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
}

/* Additional styles for form and headers */
.header, .form-display {
    flex-grow: 1; /* Allow these elements to fill the space */
}