<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>EPIC on FHIR Questionnaire App</title>
    <link rel="stylesheet" type="text/css" href="https://smartonfhir.onrender.com/public/css/form.css">
    <script src="https://cdn.jsdelivr.net/npm/fhirclient/build/fhir-client.js"></script>
</head>

<body>

    <div class="header">
        <h1>EPIC on FHIR Questionnaire App</h1>
    </div>

    <div class="pagebox">
        <div class="questionnaire-container">
            <div class="container">
                <div class="questionnaire-list">
                    <h3>Featured Questionnaires:</h3>
                    <ul>
                        <li onclick="loadQuestionnaire()">AHC HRSN Screening</li>
                    </ul>
                </div>
                <div class="form-display" id="formContainer">
                    <!-- Form will be loaded here -->
                </div>
            </div>
            <div id="responseContainer">
                <h3>Questionnaire Responses:</h3>
                <div id="responsesList"></div>
            </div>
        </div>

        <div class="AHC">
            <div class="save-menu">
                <select onchange="saveResponse(this.value)">
                    <option value="">Select Save Option</option>
                    <option value="FHIR QuestionnaireResponse (Epic)">FHIR QuestionnaireResponse (Epic)</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <link href="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/webcomponent/styles.css"
                media="screen" rel="stylesheet" />
            <script
                src="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/webcomponent/assets/lib/zone.min.js"></script>
            <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/webcomponent/lhc-forms.js"></script>
            <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/fhir/R4/lformsFHIR.min.js"></script>
        </div>
    </div>

    <script>
        FHIR.oauth2.ready(client => client.request(client.user.fhirUser));

        function loadQuestionnaire() {
            document.getElementById('formContainer').style.display = 'block';
            LForms.Util.addFormToPage(<% - formToAdd %>, 'formContainer');
        }

        async function saveResponse(format) {

            let qr = LForms.Util.getFormFHIRData('QuestionnaireResponse', 'R4');
            const formData = JSON.stringify(qr, null, 2);

            const filePath = 'qr.json';

            try {
                fs.writeFileSync(filePath, formData);
                console.log('JSON data saved to file successfully.');
            } catch (error) {
                console.error('Error writing JSON data to file:', error);
            }


            //     if (!format) return; // No action if default option is selected

            //     // Retrieve the OAuth2 token from sessionStorage
            //     let token = sessionStorage.getItem('oauth2_token');

            //     if (!token) {
            //         alert('OAuth2 token is missing.');
            //         return;
            //     }

            //     let qr = LForms.Util.getFormFHIRData('QuestionnaireResponse', 'R4');

            //     try {
            //         let response = await fetch('/save-response', {
            //             method: 'POST',
            //             headers: {
            //                 'Content-Type': 'application/json',
            //                 'Authorization': 'Bearer ' + token
            //             },
            //             body: JSON.stringify({ data: qr, format: format })
            //         });

            //         let data = await response.json();

            //         if (response.ok) {
            //             alert('Response saved successfully');
            //         } else {
            //             console.error('Save Error:', data);
            //             alert('Failed to save the questionnaire.');
            //         }
            //     } catch (error) {
            //         console.error('Save Error:', error);
            //         alert('Failed to save the questionnaire.');
            //     }
        }
    </script>
</body>

</html>