<html>

<head>
    <link href="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/webcomponent/styles.css" media="screen"
        rel="stylesheet" />
</head>

<body>

    <div class="header">
        <h1>EPIC on FHIR Questionnaire App</h1>
    </div>


    <div id=formContainer>
        <h3>Featured Questionnaires:</h3>
        <ul>
            <li onclick="loadQuestionnaire('AHC HRSN Screening')">AHC HRSN Screening</li>
        </ul>
    </div>

    <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/webcomponent/assets/lib/zone.min.js"></script>
    <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/webcomponent/lhc-forms.js"></script>
    <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/fhir/R4/lformsFHIR.min.js"></script>
    <button onclick="showQR()">Show FHIR QuestionnaireResponse</button>


    <script>
        LForms.Util.addFormToPage(<%- formToAdd %>, 'formContainer');
        
        function showQR() {
            let qr = LForms.Util.getFormFHIRData('QuestionnaireResponse', 'R4');
            
            // Submitting the data to the server
            fetch('/submit-questionnaire', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(qr)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Redirect to responsedata.ejs with the server response
                window.location.href = '/response-data?' + new URLSearchParams({result: JSON.stringify(data)});
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }


        document.getElementById('formSubmitButton').addEventListener('click', () => {
            const qr = LForms.Util.getFormFHIRData('QuestionnaireResponse', 'R4');
            fetch('/submit-questionnaire', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': csrfToken
                },
                body: JSON.stringify(qr)
            })
                .then(response => response.json())
                .then(data => {
                    window.location.href = `/response-success?data=${encodeURIComponent(JSON.stringify(data))}`;
                })
                .catch(error => {
                    console.error('Submission Error:', error);
                });
        });
    </script>

</body>

</html>