<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPIC on FHIR Questionnaire App</title>
    <link href="styles.css" media="screen" rel="stylesheet" />
    <link href="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/webcomponent/styles.css" media="screen" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <h1>EPIC on FHIR Questionnaire App</h1>
    </div>
    <div class="container">
        <div class="questionnaire-list">
            <h3>Featured Questionnaires:</h3>
            <ul>
                <li onclick="loadQuestionnaire()">AHC HRSN Screening</li>
            </ul>
        </div>
        <div class="form-display" id="formContainer">
            <!-- Form will be loaded here -->
        </div>
    </div>

    <div id="responseContainer">
        <h3>Questionnaire Responses:</h3>
        <div id="responsesList"></div>
    </div>

    <div id="questionnaireScripts" style="display: none;">
        <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/webcomponent/assets/lib/zone.min.js"></script>
        <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/webcomponent/lhc-forms.js"></script>
        <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/34.0.0/fhir/R4/lformsFHIR.min.js"></script>
    </div>

    <button onclick="submitAndRedirect()">Submit Responses</button>

    <script>
        function loadQuestionnaire() {
            document.getElementById('questionnaireScripts').style.display = 'block';
            LForms.Util.addFormToPage(<%- formToAdd %>, 'formContainer');
        }

        function submitAndRedirect() {
            let validationResults = LForms.Util.validate();
            if (validationResults && validationResults.errors.length === 0) {
                let qr = LForms.Util.getFormFHIRData('QuestionnaireResponse', 'R4');
                fetch('/submit-questionnaire', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(qr)
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Network response was not ok.');
                    }
                })
                .then(data => {
                    window.location.href = '/formselector';
                })
                .catch(error => {
                    console.error('Submission Error:', error);
                    alert('Failed to submit the questionnaire. Please try again.');
                });
            } else {
                alert('Please answer all required questions before submitting the form.');
                console.log('Validation Errors: ', validationResults.errors);
            }
        }
    </script>
</body>

</html>