<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome to the Health App</h1>
    <p>Please select an option:</p>
    <ul>
        <li><a href="https://smartonfhir.onrender.com/questionnaire">Fill out Questionnaire</a></li>
    </ul>
</body>

</html>