<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://smartonfhir.onrender.com/public/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="box">
        <a>Are you a provider at an Epic System? Login here.</a>
        <a href="launch?iss=https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4&aud="><button>Continue</button></a>
    </div>
</body>

</html>