<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Launch My App</title>
    <script src="https://cdn.jsdelivr.net/npm/fhirclient/build/fhir-client.js"></script>
</head>

<body>
    <%- settings %>
</body>

</html>