<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Launch My App</title>
    <script src="https://cdn.jsdelivr.net/npm/fhirclient/build/fhir-client.js"></script>
</head>

<body>
    <script>
        FHIR.oauth2.authorize({
            // Your client ID obtained after registering the app
            clientId: "866027d0-4c7a-478e-8a0a-cc6849c246b5",
            // Scopes requested from the EHR
            scope: "launch/patient openid fhirUser patient/*.read Questionnaire.Read Questionnaire.Search QuestionnaireResponse.Read QuestionnaireResponse.Search Patient.Read Patient.Search Questionnaire.Create",
            // Redirect URI (where the EHR will redirect after authorization)
            redirectUri: "https://smartonfhir.onrender.com/app"
        });
    </script>
</body>

</html>