<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Launch My App</title>
    <script src="https://cdn.jsdelivr.net/npm/fhirclient/build/fhir-client.js"></script>
</head>

<body>
    <script>
        FHIR.oauth2.authorize({
            clientId: "ea4f1e5a-9435-468a-a6c8-d557271bb3fa",
            scope: "launch/patient openid fhirUser patient/*.read Questionnaire.Read ...",
            redirectUri: "https://smartonfhir.onrender.com/app",
            iss: 'https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4'
        });

    </script>
</body>

</html>
