<!DOCTYPE html>
<html>
<head>
    <title>Response Data</title>
</head>
<body>
    <h1>Questionnaire Response</h1>
    <div id="responseContainer"></div>
    
    <script>
        window.onload = function() {
            // Parse the result query parameter
            const params = new URLSearchParams(window.location.search);
            const result = JSON.parse(params.get('result'));
            
            // Display the results
            document.getElementById('responseContainer').innerHTML = '<pre>' + JSON.stringify(result, null, 2) + '</pre>';
        };
    </script>
</body>
</html>
